<div class="container">
	<div class="row">
		<div class="col-12">
			<br><br>

			<h1>TOURNEE DOWN THE ROAD WHEREVER 2019</h1>
			<hr>
			<br>
			<p>Envie d'organiser une rencontre avec d'autres fans? Retrouvez vos concerts dans la liste ci-dessous!</p>
			<p>Inscrivez vous, et proposez vous idées, envies....</p>
			<br>


			<div class="row">
				<div class="col-12 col-md-6">
					 <%= simple_form_for :query, url: concerts_path, method: :get,  html: {class: "form-inline"} do |f| %>
		       <%= f.input  :keyword, placeholder: "Rechercher par pays ou ville", label: false, input_html: {class: "input-search"} %>
		       <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
		         <i class="fa fa-search"></i>
		       <% end %>
		     <% end %>
				</div>
				<div class="col-12 col-md-6">
    			 <%= link_to "Raffraichir les recherches", concerts_path, class: "btn btn-warning" %>
					
				</div>
			</div>


     <br>
			
			<table class="table table-striped">

				<tbody>
						<% @concerts.each do |concert| %>
					  <tr>
					  		<td><%= link_to  concert_path(concert), class: "btn btn-primary" do %>
						  		<i class="fa fa-eye"></i>
						  		<% end %>
					  		</td>
					  		<td><%= link_to concert_path(concert), class: "users"  do   %>
					  			 <b><%= concert.users.count %></b> - <i class="fas fa-users"></i> 
					  			<% end %>
					  		</td>
								<td><%= l(concert.show_date, format: '%d/%m/%y') %></td>
								<td><%= concert.kountry %></td>
								<td><%= concert.city %></td>
								<td><%= concert.venue %></td>
							
					</tr>
						<% end %>
				</tbody>
		</table>
		</div>
	</div>
</div>