<div class="content">
	<br><br>
	<div class="row">
		<div class="col-12 col-md-8 offset-md-1">
			<h1><%= @concert.kountry%> -  <%= @concert.city %> - <%= @concert.venue %> </h1>
			<h3>Le <%= l(@concert.show_date, format: '%d/%m/%y') %></h3>
			<hr>

			<p>Merci de vous inscrire et de commenter uniquement si vous participez au  concert de <%= @concert.city %></p>
			<br>

			<div class="row">
				<div class="col-12">
					<% if @concert.users.include?(current_user) %>
						<%= simple_form_for([@concert, @comment]) do |f| %>
							<%= f.input :title, placeholder: "Donner un titre à votre commentaire / annonce",  label: false , required: true %>
							<%= f.input :content, as: :text, placeholder: "Votre commentaire", label: false,  input_html: { rows: 4, class: 'input-comment'} %>
							<%= f.submit "Envoyer", class: "btn btn-success" %>
						<% end %>
					<% end %>
					<br>
				</div>
			</div>


			<% if @concert.comments.any? %>
				<% @concert.comments.order('created_at DESC').each do |comment| %>
					<div class="<%= comment.user_id == (current_user && current_user.id) ? 'my-comments' : 'comments'  %>">
						<div class="row">
							<div class="col-2">
		           <% if comment.user.avatar.present? %>
		           	<%= image_tag(comment.user.avatar.url, class: "avatar") %>
		           <% else %>
		             <%= image_tag("https://s3-eu-west-1.amazonaws.com/mktour2019/avatar.png", class: "avatar") %>
		          <% end %>
							</div>
							<div class="col-3">
									<%= comment.user.full_name %>
							</div>
							<div class="col-3 offset-4">
								 <%= l(comment.created_at, format: '%d/%m/%y - %H:%M:%S') %>	 
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<hr>
								<h3><%= comment.title %></h3>
								<%= simple_format(comment.content) %>
								<hr>
							</div>
						</div>
	
						<div class="row">
							<div class="col-12">
								<% comment.replies.each do |reply| %>
									<div class="<%= reply.user_id == (current_user && current_user.id) ? 'my-reply' : 'reply'  %>">
										<div class="row">
											<div class="col-3">
												 <% if reply.user.avatar.present? %>
												 	<%= image_tag(reply.user.avatar.url, class: "avatar") %>
												 <% else %>
												   <%= image_tag("https://s3-eu-west-1.amazonaws.com/mktour2019/avatar.png", class: "avatar") %>
												<% end %>
											</div>
											<div class="col-3">
												<%= reply.user.full_name %>
											</div>
											<div class="col-3 offset-2">
												<%= l(reply.created_at, format: '%d/%m/%y - %H:%M:%S') %>
											</div>
										</div>
										<div class="row">
											<div class="col-12">
												<hr>
													<%= simple_format(reply.content) %>
											</div>
										</div>
									</div>
								<% end %>
							</div>
						</div>
						<% if current_user %>
							<% if @concert.users.include?(current_user) %>
							<%= simple_form_for([@concert, comment, @reply])	 do |f| %>
							<div class="row">
								<div class="col-12 col-md-10">
										<%= f.input :content, placeholder: "Votre réponse", label: false, input_html: { rows: 1, class: 'input-reply' } %>
								</div>	
								<div class="col-12 col-md-2">
									<%= f.submit "Envoyer", class: "btn btn-primary btn-lg input-reply-btn" %>
								</div>
							</div>
							<% end %>
							<% end %>
							<% end %>
					</div>
					<br><br>
				<% end %>
			<% else %>
				<p>Soyez le premier à commenter</p>
				
			<% end %>

		</div>

		<div class="col-12 col-md-2">
			<% if current_user %>
				<% if @concert.users.include?(current_user) %>

				
					<%= form_tag unsubscribe_concert_path(@concert), method: :put, remote: true do %>
					 	<%= hidden_field_tag :user_id, current_user.id %>
					 	<%= submit_tag "Je n'y vais plus", class:  "btn btn-danger", id: "not-going", data: {confirm: "Voulez vous vraiment vous désinscrire de ce concert?"} %>
					<% end %>
					<% else %>

					<%= form_tag register_concert_path(@concert), method: :put, remote: true do %>
					 	<%= hidden_field_tag :user_id, current_user.id %>
					 	<%= submit_tag "Je vais à ce concert", class:  "btn btn-primary", id: "going" %>
					<% end %>
				<% end %>

			<br>
			<h3>Participants: </h3>
			<hr>
			<% if @concert.users.any? %>
				<div class="users">
					<ul class="list list-unstyled">
					<% @concert.users.each do |user| %>
						<li><%= user.full_name %></li>
					<% end %>
						
					</ul>
					<br>
					<br>
					<br>
				</div>
			<% end %>
			<% else %>
				<%= link_to "S'inscrire pour commenter", new_user_registration_path, class: "btn btn-primary" %>
				<br>
				<br>
				<br>				<br>
				<br>
			<% end %>
		</div>
	</div>
</div>