<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Connection</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

    </div>
  </div>

      <div class="row">
        <div class="col-12">
          <%= f.button :submit, "Connection" , class: "btn btn-success btn-block" %>
          <br>
         </div>

        <div class="col-12">
          <%= link_to "Pas encore de compte?", new_registration_path(resource_name), class: "btn btn-primary btn-block" %>
         </div>

      </div>
      <% end %>
</div>